NodeRed
[{"id":"2c732ef1.0f4512","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b3e8369c.4f62e8","type":"arduino out","z":"2c732ef1.0f4512","name":"LED","pin":"13","state":"OUTPUT","arduino":"fd9e64b4.c04758","x":530,"y":480,"wires":[]},{"id":"f7df580.b306aa8","type":"inject","z":"2c732ef1.0f4512","name":"LIGAR","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":300,"wires":[["d42ac2ba.9a8f7"]]},{"id":"86602e76.65078","type":"inject","z":"2c732ef1.0f4512","name":"DESLIGAR","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":360,"wires":[["d42ac2ba.9a8f7"]]},{"id":"d42ac2ba.9a8f7","type":"mqtt out","z":"2c732ef1.0f4512","name":"INTERRUPTOR","topic":"LED20","qos":"","retain":"false","broker":"15d5b2c8.da36bd","x":550,"y":340,"wires":[]},{"id":"bbf44b4.df438b8","type":"mqtt in","z":"2c732ef1.0f4512","name":"","topic":"LED20","qos":"2","datatype":"auto","broker":"15d5b2c8.da36bd","x":230,"y":480,"wires":[["b3e8369c.4f62e8"]]},{"id":"7e3e2d43.d94ad4","type":"function","z":"2c732ef1.0f4512","name":"CONVERT TO CELSIUS","func":"msg.payload = (msg.payload * 0.48828125).toFixed(2);\ncontext.global.temperatura = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":600,"wires":[["87ba2998.093aa8","2f214fb9.2dbf1","a16ec715.7578f8","27f6438b.58fccc"]]},{"id":"324c5890.67cae8","type":"arduino in","z":"2c732ef1.0f4512","name":"TEMPERATURA","pin":"0","state":"ANALOG","arduino":"fd9e64b4.c04758","x":120,"y":600,"wires":[["74b56f83.11d31"]]},{"id":"87ba2998.093aa8","type":"debug","z":"2c732ef1.0f4512","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":540,"wires":[]},{"id":"74b56f83.11d31","type":"delay","z":"2c732ef1.0f4512","name":"DELAY MESSAGE","pauseType":"rate","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":700,"wires":[["7e3e2d43.d94ad4"]]},{"id":"2f214fb9.2dbf1","type":"mqtt out","z":"2c732ef1.0f4512","name":"","topic":"temp20","qos":"","retain":"","broker":"15d5b2c8.da36bd","x":710,"y":660,"wires":[]},{"id":"4c4eebf.9d01914","type":"ui_switch","z":"2c732ef1.0f4512","name":"","label":"Ligar/Desligar","tooltip":"","group":"fe9d342d.ae8fb8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":200,"y":220,"wires":[["d42ac2ba.9a8f7"]]},{"id":"a16ec715.7578f8","type":"ui_gauge","z":"2c732ef1.0f4512","name":"","group":"fe9d342d.ae8fb8","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"-10","max":"40","colors":["#0080ff","#00ff00","#ca3838"],"seg1":"","seg2":"","x":530,"y":700,"wires":[]},{"id":"27f6438b.58fccc","type":"switch","z":"2c732ef1.0f4512","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"20","vt":"num"},{"t":"lt","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":600,"wires":[["4138b96f.d16458"],["ecf34d14.8e15b"]]},{"id":"4138b96f.d16458","type":"function","z":"2c732ef1.0f4512","name":"","func":"msg.payload = \"Temperatura esta acima de 20°C\"\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":560,"wires":[["99afe869.2ee5a8","beafd198.27ecf"]]},{"id":"ecf34d14.8e15b","type":"function","z":"2c732ef1.0f4512","name":"","func":"msg.payload = \"Temperatura está abaixo de 20°C\"\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":640,"wires":[["99afe869.2ee5a8","beafd198.27ecf"]]},{"id":"99afe869.2ee5a8","type":"ui_toast","z":"2c732ef1.0f4512","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1150,"y":600,"wires":[]},{"id":"beafd198.27ecf","type":"ui_audio","z":"2c732ef1.0f4512","name":"","group":"fe9d342d.ae8fb8","voice":"pt-BR","always":"","x":1020,"y":460,"wires":[]},{"id":"533240e9.11a33","type":"http in","z":"2c732ef1.0f4512","name":"GET_TEMP","url":"temperatura","method":"get","upload":false,"swaggerDoc":"","x":510,"y":800,"wires":[["ca0ba8e5.74a138"]]},{"id":"eba6e20c.8a647","type":"http response","z":"2c732ef1.0f4512","name":"","statusCode":"","headers":{},"x":810,"y":800,"wires":[]},{"id":"ca0ba8e5.74a138","type":"function","z":"2c732ef1.0f4512","name":"","func":"dados = {\n    temperatura: context.global.temperatura\n}\n\nmsg.payload = JSON.stringify(dados);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":800,"wires":[["eba6e20c.8a647"]]},{"id":"c62fafb3.2e9b6","type":"mongodb out","z":"2c732ef1.0f4512","mongodb":"59242cbd.4bb464","name":"SALVAR","collection":"temperatura20","payonly":false,"upsert":false,"multi":false,"operation":"store","x":800,"y":1200,"wires":[]},{"id":"64d8451.ffdf3bc","type":"mongodb in","z":"2c732ef1.0f4512","mongodb":"59242cbd.4bb464","name":"PESQUISAR","collection":"temperatura20","operation":"find","x":530,"y":1080,"wires":[["bf43253c.c636f8"]]},{"id":"9af52725.60fec8","type":"inject","z":"2c732ef1.0f4512","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":1080,"wires":[["64d8451.ffdf3bc"]]},{"id":"4903f34a.df667c","type":"inject","z":"2c732ef1.0f4512","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":1180,"wires":[["3c3ff997.0b7f46"]]},{"id":"3c3ff997.0b7f46","type":"function","z":"2c732ef1.0f4512","name":"","func":"return {\n    \"sensor\" : \"sensor-20\",\n    \"valor\" : context.global.temperatura,\n    \"data\"  : Date.now()\n}","outputs":1,"noerr":0,"x":550,"y":1200,"wires":[["c62fafb3.2e9b6"]]},{"id":"bf43253c.c636f8","type":"debug","z":"2c732ef1.0f4512","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1100,"wires":[]},{"id":"33b3b17.07dbf4e","type":"http in","z":"2c732ef1.0f4512","name":"","url":"temperatura","method":"post","upload":false,"swaggerDoc":"","x":290,"y":860,"wires":[["be6026b8.258438"]]},{"id":"c305e989.2e4928","type":"http response","z":"2c732ef1.0f4512","name":"","statusCode":"","headers":{},"x":830,"y":880,"wires":[]},{"id":"be6026b8.258438","type":"function","z":"2c732ef1.0f4512","name":"","func":"\n\nmsg.payload.data = Date.now();\nmsg.payload = JSON.stringify(msg.payload);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":470,"y":940,"wires":[["4857968f.57f928","c305e989.2e4928"]]},{"id":"4857968f.57f928","type":"function","z":"2c732ef1.0f4512","name":"","func":"return {\n    \"sensor\" : JSON.parse(msg.payload).sensor,\n    \"valor\" : JSON.parse(msg.payload).valor,\n    \"data\"  : JSON.parse(msg.payload).data\n}\n","outputs":1,"noerr":0,"x":610,"y":1000,"wires":[["c62fafb3.2e9b6"]]},{"id":"fd9e64b4.c04758","type":"arduino-board","z":"","device":"COM3"},{"id":"15d5b2c8.da36bd","type":"mqtt-broker","z":"","name":"SERVER MOSQUITTO","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fe9d342d.ae8fb8","type":"ui_group","z":"","name":"Controle de Iluminação","tab":"374d9d1.74e0662","disp":true,"width":"6","collapse":false},{"id":"59242cbd.4bb464","type":"mongodb","z":"","hostname":"ds241308.mlab.com","port":"41308","db":"iotscj","name":""},{"id":"374d9d1.74e0662","type":"ui_tab","z":"","name":"SALA 202","icon":"dashboard","disabled":false,"hidden":false}]
