NodeRed
[{"id":"c33185e6.2f6238","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"30c0840a.faeafc","type":"arduino out","z":"c33185e6.2f6238","name":"LED","pin":"13","state":"OUTPUT","arduino":"eeebc87.29f4a38","x":530,"y":480,"wires":[]},{"id":"cce74056.f94f1","type":"inject","z":"c33185e6.2f6238","name":"LIGAR","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":300,"wires":[["98a45cc8.44ad8"]]},{"id":"91d7d81f.0cfb38","type":"inject","z":"c33185e6.2f6238","name":"DESLIGAR","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":360,"wires":[["98a45cc8.44ad8"]]},{"id":"98a45cc8.44ad8","type":"mqtt out","z":"c33185e6.2f6238","name":"INTERRUPTOR","topic":"LED20","qos":"","retain":"false","broker":"1a054ad0.f0eb55","x":550,"y":340,"wires":[]},{"id":"9d436c53.5eef7","type":"mqtt in","z":"c33185e6.2f6238","name":"","topic":"LED20","qos":"2","datatype":"auto","broker":"1a054ad0.f0eb55","x":230,"y":480,"wires":[["30c0840a.faeafc"]]},{"id":"999b1bfd.fbf8e8","type":"function","z":"c33185e6.2f6238","name":"CONVERT TO CELSIUS","func":"msg.payload = msg.payload * 0.48828125\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":600,"wires":[["cc8d7d19.3c8dd","ba5a54be.4411c8"]]},{"id":"1cc23918.d26717","type":"arduino in","z":"c33185e6.2f6238","name":"TEMPERATURA","pin":"0","state":"ANALOG","arduino":"eeebc87.29f4a38","x":120,"y":600,"wires":[["a1635abf.001188"]]},{"id":"cc8d7d19.3c8dd","type":"debug","z":"c33185e6.2f6238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":540,"wires":[]},{"id":"a1635abf.001188","type":"delay","z":"c33185e6.2f6238","name":"DELAY MESSAGE","pauseType":"rate","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":700,"wires":[["999b1bfd.fbf8e8"]]},{"id":"ba5a54be.4411c8","type":"mqtt out","z":"c33185e6.2f6238","name":"","topic":"temp20","qos":"","retain":"","broker":"1a054ad0.f0eb55","x":710,"y":660,"wires":[]},{"id":"7f9915e6.eb4f8c","type":"ui_switch","z":"c33185e6.2f6238","name":"","label":"Ligar/Desligar","tooltip":"","group":"ac609944.983fb8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":200,"y":220,"wires":[["98a45cc8.44ad8"]]},{"id":"eeebc87.29f4a38","type":"arduino-board","z":"","device":"COM3"},{"id":"1a054ad0.f0eb55","type":"mqtt-broker","z":"","name":"SERVER MOSQUITTO","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ac609944.983fb8","type":"ui_group","z":"","name":"Controle de Iluminação","tab":"465dfbda.75c504","disp":true,"width":"6","collapse":false},{"id":"465dfbda.75c504","type":"ui_tab","z":"","name":"SALA 202","icon":"dashboard","disabled":false,"hidden":false}]
